body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f8f8f8;
    text-align: center;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    color: white;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    background: white;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
}
.logo span {
    color: blue;
}
.nav-links {
    display: flex;
    gap: 15px;
    background: white;
    padding: 5px 15px;
    border-radius: 5px;
    color: black;
    
}

.auth-links {
    display: flex;
    gap: 10px;
}
.login-button {
    background: white;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #2559d2;
}
.login-button a {
    color: #2559d2;
    text-decoration: none;
}
.register-button {
    background: #2559d2;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #2559d2;
}
.register-button a {
    color: white;
    text-decoration: none;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.text-concent {
    max-width: 550px;
}

.text-concent h1{
    width: 608px;
    height: 249px;
    top: 238px;
    left: 115;
    font-size: 64px;

}

.text-concent h1 span {
    color: #2559d2;
}

.text-concent p {
    width: 586px;
    height: 78px;
    top: 531px;
    left: 120px;
    font-size: 20px;
    color: #D9D9D9;
}

.text-concent .btn {
    width: 245px;
    height: 60px;
    top: 682px;
    left: 120px;
    border-radius: 10px;
    gap: 10px;
    display: inline-block;
    background: #2559d2;                                                   
    color: #f8f8f8;
    padding-top: 20px;
    padding-right: 120px;
    padding-bottom: 20px;
    padding-left: 120px;
    font-size: 24px;
    text-align: center;
}

.text-concent .stats{
    font-size: 14px;
    color: #D9D9D9;
    margin-top: 10px;
    padding: 5px 10px;
    display: inline-block;
}

.image-concent {
    left: 380px;
}